:root {
    --text-color: #edecec;
    --bg-color: #14120b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #DFECEC;
    background-color: var(--bg-color);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1.25rem;
    height: 3.3rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--bg-color);
}

header .header-div {
    height: 52px;
    width: 100%;
    max-width: 1300px;
    margin-inline: auto;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    position: relative;
}

header .logo {
    width: 95.37px;
}

.nav_link {
    cursor: pointer;
    font-size: .875rem;
    color: #DFECEC;
    padding-inline: 1rem;
    background-color: #0000;
    border: 1px solid #0000;
    display: inline-flex;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header a {
    text-decoration: none;
}

.relative {
    position: relative;
}

.relative button {
    background-color: transparent;
    border: none;
    color: #DFECEC;
    font-size: 15px;
    cursor: pointer;
}

.relative .card {
    display: none;
}

.relative:hover .card {
    display: block;
}

.card {
    position: absolute;
    width: 280px;
    left: 0;
    font-size: 14px;
    background-color: #1B1913;
    padding: 1rem;
    border: 2px solid #26241E;
    border-radius: 4px;
    translate: 0% 10%;
    z-index: 10;
}

.card ul {
    display: grid;
    justify-content: flex-start;
    gap: 0.7rem;
    grid-template-columns: repeat(2, auto);
}

.card ul li {
    min-width: 8rem;
}

.card ul li a {
    color: #DFECEC;
    display: inline-flex;
}

.card ul li a span {
    display: none;
}

.card ul li a:hover span {
    display: block;
}

.card ul li a:hover {
    color: #A8A6A4;
}

.header-buttons {
    grid-column-end: -1;
    grid-column-start: 3;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.btn {
    padding: 5px 12px;
    border: 1px solid #3F3D38;
    border-radius: 16px;
    font-size: 14px;
    color: #DFECEC;
    background-color: transparent;
    cursor: pointer;

}

.btn[href="#download"] {
    background-color: var(--text-color);
    border: none;
    color: var(--bg-color);
}

main {
    min-height: 70vh;
}

section {
    color: var(--text-color);
    background-color: var(--bg-color);
}

.hero-section {
    padding: 10rem 0 5rem 0;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin-inline: auto;
}

.text-container {
    text-align: left;
    max-width: 80vh;
    margin-bottom: 3.5rem;
}

.text-container h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.btn-group {
    display: inline-flex;
    width: fit-content;
    gap: 1rem;
    background-color: var();
}

.btn-group div {
    display: inline-flex;
}

.download-btn {
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.media-container {
    height: 76ch;
    border-radius: 0.2rem;
    background-image: url('/assets/media-container.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.media-container img {
    height: 85%;
}

#logo-container {
    padding: 0 0 5rem 0;
}

#logo-container h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.logos {
    display: grid;
    gap: 0.5rem;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, 1fr);

}

.logos .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #1B1913;
    margin-top: 1.5rem;
    border-radius: 4px;
}

.logos .cards img {
    max-width: 50%;
    width: auto;
    aspect-ratio: 3/2;
    object-fit: contain;

}

.content-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 5rem;
    background: #1D1B15;
    border-radius: 4px;
}


.container .text-content {
    width: 32%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8rem;
}

.container .text-content h2 {
    font-weight: 500;
}

.container .text-content p {
    color: #9A9996;
    font-size: 1.4rem;
    font-weight: 500;
}

.container .text-content a {
    color: #F54E03;
    margin-top: 1.5rem;
    text-decoration: none;
}

.container .media-content {
    width: 68%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .media-content div {
    padding: 5rem;
    border-radius: 4px;
    height: 96%;
    width: 96%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container .media-content .img1 {
    background-image: url('/assets/media-container-1.webp');
}

.container .media-content .img2 {
    background-image: url('/assets/media-container-2.png');
}

.container .media-content .img3 {
    background-image: url('/assets/media-container-3.webp');
}

.container .media-content img {
    width: 100%;
    border-radius: 8px;
}